(
    colum: 10,
    rows: 10,
    map: [
        [
            Path,
            Path,
            Path,
            Path,
            Path,
            Path,
            Path,
            Path,
            Path,
            Path,
        ],
        [
            Grass,
            Grass,
            Grass,
            Grass,
            Grass,
            Grass,
            Grass,
            Grass,
            Grass,
            Path,
        ],
        [
            Path,
            Path,
            Path,
            Path,
            Path,
            Path,
            Path,
            Path,
            Path,
            Path,
        ],
        [
            Path,
            Grass,
            Grass,
            Grass,
            Grass,
            Grass,
            Grass,
            Grass,
            Grass,
            Grass,
        ],
        [
            Path,
            Path,
            Path,
            Path,
            Path,
            Path,
            Path,
            Path,
            Path,
            Path,
        ],
        [
            Path,
            Path,
            Path,
            Path,
            Path,
            Path,
            Path,
            Path,
            Path,
            Path,
        ],
        [
            Path,
            Path,
            Path,
            Path,
            Path,
            Path,
            Path,
            Path,
            Path,
            Path,
        ],
        [
            Path,
            Path,
            Path,
            Path,
            Path,
            Path,
            Path,
            Path,
            Path,
            Path,
        ],
        [
            Path,
            Path,
            Path,
            Path,
            Path,
            Path,
            Path,
            Path,
            Path,
            Path,
        ],
        [
            Path,
            Path,
            Path,
            Path,
            Path,
            Path,
            Path,
            Path,
            Path,
            Path,
        ],
    ],
    sink_points: [
        (x:0,y: 0),
    ],
)
