(
    colum: 10,
    rows: 10,
    map: [
        [
            Path,
            Path,
            Path,
            Path,
            Path,
            Path,
            Path,
            Path,
            Path,
            Path,
        ],
        [
            Water,
            Grass,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Path,
        ],
        [
            Path,
            Path,
            Path,
            Path,
            Path,
            Path,
            Path,
            Path,
            Path,
            Path,
        ],
        [
            Path,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
        ],
        [
            Path,
            Path,
            Path,
            Path,
            Path,
            Path,
            Water,
            Path,
            Path,
            Path,
        ],
        [
            Water,
            Water,
            Water,
            Water,
            Water,
            Path,
            Path,
            Path,
            Water,
            Path,
        ],
        [
            Path,
            Path,
            Path,
            Path,
            Path,
            Water,
            Water,
            Water,
            Path,
            Path,
        ],
        [
            Path,
            Water,
            Water,
            Water,
            Path,
            Path,
            Path,
            Path,
            Path,
            Water,
        ],
        [
            Path,
            Water,
            Path,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
            Water,
        ],
        [
            Path,
            Path,
            Path,
            Path,
            Path,
            Path,
            Path,
            Path,
            Path,
            Path,
        ],
    ],
    sink_points: [
        (
            x: 0,
            y: 0,
        ),
    ],
    source_points: [
        (
            x: 9,
            y: 9,
        ),
        (
            x: 2,
            y: 9,
        ),
    ],
)
