(
    axes: {
        "move_x": Emulated(
            pos: Key(D),
            neg: Key(A),
        ),
        "move_y": Emulated(
            pos: Key(E),
            neg: Key(T),
        ),
        "move_z": Emulated(
            pos: Key(S),
            neg: Key(W),
        ),
    },
    actions: {
        "shoot": [[Key(Space)]],
        "quit": [[Key(Q)]],
        "play": [[Key(P)]],
    },
)
